__pycache__/
*.py[cod]
*.pyo
*.pyd

.Python
env/
venv/
.venv/
ENV/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/
.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/
.eggs/

.ipynb_checkpoints/
.python-version

.idea/
.vscode/

# macOS Finder
.DS_Store

cmd.txt
valid_permission
valid_permission/*
first_interim_report_v1.pdf

# Environment variables
.env
.env.*

# Generated data
data
data/*

# Experiment record backup
record/

.DS_Store
*/.DS_Store